html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section{
  display:block;
}
*[hidden]{
  display:none;
}

body{
  line-height:1;
}

menu,
ol,
ul{
  list-style:none;
}

blockquote,
q{
  quotes:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
  content:"";
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

.text{
  font-family:Roboto;
  font-size:16px;
  font-weight:400;
  line-height:26.25px;
  text-underline-position:from-font;
  -webkit-text-decoration-skip-ink:none;
          text-decoration-skip-ink:none;
  color:#727272;
}

.container{
  max-width:1110px;
  margin-inline:auto;
}

.text{
  max-width:540px;
  margin:0 auto;
}

body{
  height:100vh;
}

@media screen and (min-width: 0px){
  .header{
    background-color:#EEEFF1;
    padding-inline:20px;
    padding-top:20px;
    padding-bottom:50px;
  }
  .header-container{
    padding-top:79px;
  }
  .header-container .header-nav{
    margin-bottom:30px;
  }
  .header-container .header-nav .header-list-menu{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    gap:20px;
    max-width:611px;
  }
  .header-container .header-nav .header-list-menu .header-link-item{
    font-family:Roboto;
    font-size:16px;
    font-weight:400;
    line-height:26.25px;
    letter-spacing:0.1em;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    text-decoration:none;
    text-align:left;
    color:black;
  }
  .header-container .header-gen-text{
    font-family:Roboto;
    font-size:38px;
    font-weight:500;
    line-height:78.75px;
    text-align:left;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    margin-bottom:20px;
  }
  .header-container .header-about{
    margin:0 auto 30px 0;
  }
  .header-container .header-button{
    padding:19px 41px 20px 41px;
    color:white;
    background-color:#34547A;
    border:0;
    letter-spacing:0.1em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
  .main-title{
    font-family:Roboto;
    font-size:32px;
    line-height:37.5px;
    text-align:center;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    margin-top:30px;
    margin-bottom:20px;
  }
  .main-text{
    padding-bottom:20px;
    padding-inline:20px;
  }
  .main .pj-container{
    background-color:#34547A;
    width:100%;
  }
  .main .pj-container .secondary-pj-container{
    margin-top:0;
    padding-top:0;
  }
  .main .pj-container .secondary-pj-container .projects-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    list-style:none;
    padding-top:100px;
    padding-bottom:100px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    gap:20px;
    padding-inline:20px;
  }
  .main .pj-container .secondary-pj-container .projects-list .projects-item{
    font-family:Roboto;
    font-size:21px;
    font-weight:500;
    line-height:24.61px;
    text-align:left;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    color:white;
    background:left no-repeat url(../images/project.png);
    padding-left:70px;
  }
  .main .pj-container .secondary-pj-container .projects-list .projects-item .pj-item-text{
    text-align:left;
    color:white;
    vertical-align:text-bottom;
  }
  .about-me-container{
    background-color:#EEEFF1;
  }
  .about-me-container .main-title-container{
    padding:20px;
    padding-bottom:50px;
  }
  .about-me-container .main-title-container .main-title-about-me{
    font-family:Roboto;
    font-size:32px;
    line-height:37.5px;
    text-align:center;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    margin-top:30px;
    margin-bottom:20px;
  }
  .about-me-container .main-title-container .my-work-text{
    margin-bottom:20px;
  }
  .about-me-container .main-title-container .video-container{
    position:relative;
    width:100%;
    padding-bottom:56.25%;
    height:0;
  }
  .about-me-container .main-title-container .video-container .video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-bottom:100px;
  }
  .footer{
    color:white;
  }
  .footer-container{
    padding-top:0;
    background-color:#34547A;
    padding-inline:20px;
  }
  .footer-container .footer-title{
    font-family:Roboto;
    font-size:21px;
    font-weight:500;
    line-height:24.61px;
    text-align:left;
    text-underline-position:from-font;
    -webkit-text-decoration-skip-ink:none;
            text-decoration-skip-ink:none;
    padding-top:30px;
    margin-bottom:20px;
  }
  .footer-container .footer-text{
    padding-bottom:30px;
    color:white;
    margin-left:0;
  }
}

@media screen and (min-width: 1150px){
  .header{
    padding-block:0;
  }
  .header-container{
    padding-top:79px;
    padding-bottom:141px;
  }
  .header-container .header-nav .header-list-menu{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    max-width:1110px;
  }
  .header-container .header-nav .header-list-menu .header-item-menu{
    margin-right:41px;
    margin-bottom:162px;
  }
  .header-container .header-nav .header-list-menu .header-item-menu .header-link-item:hover{
    color:rgb(52, 84, 122);
    font-weight:500;
  }
  .header-container .header-gen-text{
    margin-bottom:60px;
  }
  .header-container .header-about{
    margin-bottom:65px;
    width:540px;
  }
  .header-container .header-button{
    justify-self:flex-start;
    margin-bottom:0;
  }
  .main-title{
    margin-top:112px;
    margin-bottom:50px;
  }
  .main-text{
    margin-bottom:50px;
    padding-bottom:0;
    max-width:540px;
    margin-inline:auto;
  }
  .main-pj-container{
    margin-bottom:0;
  }
  .main-pj-container-list{
    padding:100px 0 100px 0;
  }
  .about-me-container{
    padding-bottom:100px;
  }
  .about-me-container .main-title-container{
    padding:0;
  }
  .about-me-container .main-title-container .main-title-about-me{
    font-family:Roboto;
    font-size:32px;
    line-height:37.5px;
    text-align:center;
    text-underline-position:from-font;
    margin:0 0 50px 0;
    padding-top:100px;
  }
  .about-me-container .main-title-container .my-work-text{
    width:540px;
    margin-inline:auto;
    margin-bottom:57px;
  }
  .footer{
    padding-block:0;
    background-color:#34547A;
  }
  .footer .footer-container .footer-title{
    padding-top:50px;
  }
  .footer .footer-container .footer-text{
    padding-bottom:50px;
  }
}