@use "colors" as *;
@use "silent-classes" as *;
@use "mixins" as *;

@media screen and (min-width: 0px) {

  .header {
    background-color: $primary-grey-color;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 50px;

    &-container {
      padding-top: 79px;

      .header-nav {
        margin-bottom: 30px;

        .header-list-menu {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 20px;
          max-width: 611px;

          .header-link-item {
            @include font-parameters;
            text-decoration: none;
            text-align: left;
            color: black;
          }
        }
      }

      .header-gen-text {
        font-family: Roboto;
        font-size: 38px;
        font-weight: 500;
        line-height: 78.75px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 20px;
      }

      .header-about {
        margin: 0 auto 30px 0;

      }

      .header-button {
        padding: 19px 41px 20px 41px;
        color: white;
        background-color: $secondary-blue-color;
        border: 0;
        letter-spacing: 0.1em;
        margin-left: 0;
      }
    }
  }
}


@media screen and (min-width: 1150px) {
  .header {
    padding-block: 0;

    &-container {
      padding-top: 79px;
      padding-bottom: 141px;

      .header-nav {

        .header-list-menu {
          flex-direction: row;
          max-width: 1110px;


          .header-item-menu {
            margin-right: 41px;
            margin-bottom: 162px;

            .header-link-item:hover {
              color: rgba(52, 84, 122, 1);
              font-weight: 500;
            }
          }
        }
      }

      .header-gen-text {
        margin-bottom: 60px;
      }

      .header-about {
        margin-bottom: 65px;
        width: 540px;
      }

      .header-button {
        justify-self: flex-start;
        margin-bottom: 0;
      }
    }
  }
}