@use "reset";
// @use "colors" as *;
// @use "silent-classes" as *;
// @use "mixins" as *;
@use "header";
@use "main";
@use "about-me";
@use "footer";



.text {
  @extend %global-font-parameters;
  max-width: 540px;
  margin: 0 auto;
}

.container {
  @extend %global-container-parameters;
}

body {
  height: 100vh;
}